<div class='cus_index'>
<p id="notice"><%= notice %></p>
<h3 >
Our Clients Are Our FIrst Priority!!!
</h3>

<p class='tek-sp' >WELCOME TO OBATEK TELECOM.</p> 


<p class='show-p'>
<b class='cus-name'>Your customer_id is <%= current_customer.id %></b>, you are powerfully welcome to our dynamic 
customer resolution platform.
</p>
<span class='show-p'> Do enjoy your stay with us!</span>

<div class='log-roll'>
<%= image_tag 'mtn1.jpg', class: 'para' %>
<%= image_tag 'glo1.jpg', class: 'para' %>
<%= image_tag 'Airtel-Airtime.jpg', class: 'para' %>
<%= image_tag '9mobile1.jpg', class: 'para' %>
<%= image_tag 'smile.gif', class: 'para' %>
<%= image_tag 'GOtv.png', class: 'para' %>
<%= image_tag 'Startimes-Subscription.jpg', class: 'para' %>
<%= image_tag 'dstv.jpg', class: 'para' %>

</div>
<button class=btn-navi><%= link_to 'Make Your New Request', requests_path %></button>
