<p id="notice"><%= notice %></p>
<div  class='reg-cen'>
<h1 class='oba-comm-das'> Obatek Telecom Customer Comments/Complains DashBoard </h1>

<% @comments.each do |comment| %>
  <%= form_with(model: comment, local: true) do |form| %>
  <div class="field">
    <%= form.label :Customer_comment,  class:'request_body' %>
    <textarea id="message" name="message" cols="26" rows="4"><%= comment.body %></textarea>
  </div>

 <div class='comm-spec'>
  <div class="field">
  <%= form.label :Customer_Id, class:'request_body'%>
  <%= form.text_field :customer_id, class:'text-input' %>
  </div>
  
  <div class="field">
    <%= form.label :request_Id, class:'request_body'%>
    <%= form.text_field :request_id, class:'text-input' %>
  </div>

  </div>
  
   <div>
    <button class='comm-idx-btn1'><%= link_to 'Show', comment %></button>
    <button class='comm-idx-btn2'><%= link_to 'Edit', edit_comment_path(comment) %></button>
   <button class='comm-idx-btn3'><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
<% end %>
<% end %>
<button class='btn-navi'><%= link_to 'New Request ', new_comment_path %></button>
</div>