<%= form_for @customer, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <% if @customer.errors.any? %>
  <% @customer.errors.full_messages.each do |error| %>
  <p class = 'error' >*<%= error %></p>
  <% end %>
<% end %>
<div  class = 'form_item'>
<%= f.label :name %>
<%= f.text_field :name, :class => 'wide', placeholder: 'Enter your name!' %>
</div>
<br>
<div  class = 'form_item'>
<%= f.label :email %>
<%= f.email_field :email, :class => 'wide', placeholder: 'Enter your email;jobs@hot.com' %>
</div>
<br>
<div  class = 'form_item'>
<%= f.label :password %>
<%= f.password_field :password,:class => 'wide', placeholder: 'Enter your password!' %>
</div>
<br>
<%= f.submit:class => 'sub' %>
<% end %> 