<div>
<p id="notice"><%= notice %></p>
<% if @customer.avatar.attached? %>
<%= image_tag @customer.avatar, style: 'width: 30px; height: 40px; display: block'%>
<% end %>

<h3>
THE GREETINGS FROM OBATEK TELECOM!!!
</h3>


<p>
<%= @customer.name %>, you are powerfully welcome to our dynamic 
customer resolution platform. Do enjoy your stay with us!
</p>


<!--
<%= link_to 'Edit', edit_customer_path(@customer) %> |
-->
<%= link_to 'Back', customers_path %>
</div>