<div class='cus_index'>
<p id="notice"><%= notice %></p>
<h3 >
Our Clients Are Our FIrst Priority!!!
</h3>

<p class='tek-sp' >WELCOME TO OBATEK TELECOM.</p> 
<% if @customer.avatar.attached? %>
<%= image_tag @customer.avatar, style: 'width: 50px; height: 60px; display: block'%>
<% end %>

<p class='show-p'>
<b class='cus-name'><%= @customer.name %></b>, you are powerfully welcome to our dynamic 
customer resolution platform.
</p>
<span class='show-p'> Do enjoy your stay with us!</span>

<div class='log-roll'>
<%= image_tag 'mtn1.jpg', class: 'para' %>
<%= image_tag 'glo1.jpg', class: 'para' %>
<%= image_tag 'Airtel-Airtime.jpg', class: 'para' %>
<%= image_tag '9mobile1.jpg', class: 'para' %>
<%= image_tag 'smile.gif', class: 'para' %>
<%= image_tag 'GOtv.png', class: 'para' %>
<%= image_tag 'Startimes-Subscription.jpg', class: 'para' %>
<%= image_tag 'dstv.jpg', class: 'para' %>

</div>

<!--
<%= link_to 'Edit', edit_customer_path(@customer) %> |
-->
<div class='show-link'>
<button class='btn-navi' ><%= link_to 'Navigate To HomePage', customers_path %> </button>
<button class='btn-navi' ><%= link_to 'Navigate To RequestPage', requests_path %> </button>
</div
</div>